<h1>Create new Budget</h1>
<form>
  {{input
    placeholder='New Budget Name'
    value=newBudget.name}}
    {{input
      placeholder='New Budget Goal'
      value=newBudget.goal}}
      {{input
        placeholder='Enter amount you have spent so far'
        value=newBudget.actual}}
  <button type='submit' {{action 'createBudget'}}>Submit</button> <button {{action 'cancel'}}>Cancel</button>
</form>
