{{#link-to 'budgets' tagName="button" class="back"}}Back{{/link-to}}


{{budget-difference budget=model}}
  {{edit-name-form budget=model editBudget='editBudget' editActual='editActual'}}
  <table>
    <caption>   {{budget-list class="list" budget=model deleteBudget='deleteBudget'}}</caption>
    <tr>
      <th>Budget Goal</th>
      <th>Actual Budget</th>
    </tr>
    <tr>
      <td>  {{budget-goal budget=model}} </td>
      <td>  {{budget-actual budget=model}} </td>
    </tr>
  </table>

  {{delete-budget budget=model deleteBudget='deleteBudget'}}
